<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FarmFusion</title>
    <script
      src="https://kit.fontawesome.com/cef954db8c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  <body>
    <header id="nav">
      <div id="nav-l"></div>
      <div id="nav-r">
        <ul>
          <li><a href="#" class="links">Home</a></li>
          <li><a href="./crop_recom.html" class="links">Crop</a></li>
          <li><a href="./fertilizer.html" class="links">Fertilizer</a></li>
          <li><a href="./disease.html" class="links">Disease</a></li>
        </ul>
      </div>
    </header>

    <div id="main">
      <div id="main-title">
        <span id="word1">Farm</span> <br />
        <span id="word2">Fusion</span>
        <span id="subtitle">
          Empowering Farmers with Intelligent Insights and Sustainable
          Growth.</span
        >
      </div>
      <div id="main-img-container">
        <img src="../static/assets/bg-image.jpg" alt="" />
      </div>

      <div id="main-img-bg-container"></div>
    </div>
    <section>
      <div id="section-title"><h2>About Us</h2></div>

      <div id="content">
        <div id="content-left">
          <img src="../static/assets/farm.png" alt="" />
        </div>
        <div id="content-right">
          <p>
            Farm Fusion is a game-changing agriculture website that combines
            technology and expertise to empower farmers. We are committed to
            revolutionizing the industry and driving sustainable growth. Through
            our cutting-edge machine learning models, we provide farmers with
            invaluable recommendations for crop cultivation and soil management.
            <br />
            By analyzing factors such as soil composition, climate data, and
            historical yields, we offer personalized insights that optimize
            productivity and profitability. Our platform also enables farmers to
            identify and combat leaf diseases by simply uploading images.
            <br />
            <br />
            Join us today and embark on a transformative journey toward a
            greener and more prosperous future in farming.
          </p>
        </div>
      </div>
    </section>

    <div id="mid-section">
      <div id="mid-container">
        <h2>Important thing in farming</h2>
        <p class="mid-container-p">
          Start by planning a growth for your farm progress by following the
          right steps.
        </p>
        <div id="mid-slides">
          <div class="mid-card" id="mid-card1">
            <div class="mid-card-img">
              <img src="../static/assets/tractor3.png" alt="Image" />
            </div>
            <div class="mid-card-disc">
              <h4>Agriculture is everything involved</h4>
              <p class="mid-card-disc-p">
                Cultivating Earth's Bounty, Sowing to Reaping, Thriving Future.
              </p>
            </div>
          </div>

          <div class="mid-card" id="mid-card2">
            <div class="mid-card-img">
              <img src="../static/assets/img3.png" alt="Image" />
            </div>
            <div class="mid-card-disc">
              <h4>Plant or an animal raised on a farm</h4>
              <p class="mid-card-disc-p">
                Cultivating Crops and Rearing Livestock for Sustainable Production.
              </p>
            </div>
          </div>

          <div class="mid-card" id="mid-card3">
            <div class="mid-card-img">
              <img src="../static/assets/house.jpg" alt="Image" />
            </div>
            <div class="mid-card-disc">
              <h4>Farming is a job, a way to earn money</h4>
              <p class="mid-card-disc-p">
                Labor and Livelihood, Cultivating Crops for Financial Stability.
              </p>
            </div>
          </div>

          <div class="mid-card" id="mid-card4">
            <div class="mid-card-img">
              <img src="../static/assets/leaf.jpg" alt="Image" />
            </div>
            <div class="mid-card-disc">
              <h4>Farming is high technology</h4>
              <p class="mid-card-disc-p">
                Blending Tradition with Technological Advancements.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="lower-sec">
      <div id="lower-sec-container">
        <div id="lower-sec-title">
          <h2>Our Services</h2>
        </div>
        <div id="lower-sec-cards">
          <a href="./crop_recom.html">
            <div class="card" id="card-1">
              <div class="image">
                <img src="../static/assets/crop.jpg" alt="Image" />
              </div>
              <div class="description">
                <h2>Crop</h2>
                <p>
                  Recommendations about type of crops to be cultivated which is
                  best suited for the respective conditions.
                </p>
              </div>
            </div>
          </a>

          <a href="./fertilizer.html">
            <div class="card" id="card-2">
              <div class="image">
                <img src="../static/assets/fertilizer.png" alt="Image" />
              </div>
              <div class="description">
                <h2>Fertilizer</h2>
                <p>
                  Recommendation about the type of fertilizer best suited for
                  the particular soil and the recommended crop.
                </p>
              </div>
            </div>
          </a>
          <a href="./disease.html">
            <div class="card" id="card-3">
              <div class="image">
                <img src="../static/assets/crop-disease.JPG" alt="Image" />
              </div>
              <div class="description">
                <h2>Crop Disease</h2>
                <p>
                  Predicting the name and causes of crop disease and suggestions
                  to cure it.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="info-section">
      <div id="info-sec-container">
        <div id="left">
          <img src="../static/assets/img-2.jpg" alt="" />
        </div>

        <div id="right">
          <h2>everyone consumes processed products from farmers</h2>
          <p>
            Join the amazing farming that we provide for you and just for you.
          </p>
          <div id="rating-card">
            <p><span>10,000+</span><br />basic on need people</p>
            <p><span id="span2">4.8</span><br />score rating</p>
            <div id="btn">
              <i class="fa-solid fa-arrow-right fa-2xl"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="last-section">
      <div id="last-sec-overlay"></div>
      <h2>Get Information farm</h2>
      <p>What are you waiting for , Subscribe now</p>
      <div id="message-box">
        <div id="message-left">
          <input type="email" placeholder="Enter your Email" id="email">
          <i class="fa-sharp fa-regular fa-envelope fa-2xl"></i>
          <!-- <p>Email Address</p> -->
        </div>
        <div id="message-right">
          <button id="message-right-btn">
            <a href="#"> Submit</a>
          </button>
        </div>
      </div>
    </div>

    
  </body>
</html>
